body {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 16px;
}

input,
select,
textarea,
p,
button,
h1 {
  font-family: 'Assistant', sans-serif;
  font-size: 16px;
}

b {
  font-weight: bold;
}

body>div {
  margin: 8px;
  font-size: 16px;
}

#title {
  margin: 48px;
}

#title>h1 {
  font-size: 32px;
}

#metadata {
  display: flex;
  align-items: center;
  width: 520px;
  justify-content: space-between;
}

#metadata>input {
  font-size: 16px;
  border-radius: 8px;
  height: 48px;
  width: 240px;
  padding: 16px;
  outline: 0px;
  border: 1px solid #BDBDBD;
}

#metadata>input:focus,
#metadata>select:focus {
  border: 1px solid #9E9E9E;
}

#metadata>select {
  background-color: white;
  border: 1px solid #BDBDBD;
  font-size: 16px;
  height: 48px;
  margin-left: 8px;
  outline: 0;
  padding: 16px;
  width: 160px;
}


#textarea {
  position: relative;
}

#textarea>textarea {
  width: 520px;
  height: 240px;
  border-radius: 8px;
  z-index: -10;
  outline: 0;
  border: 1px solid #BDBDBD;
  padding: 16px;
}

#textarea>textarea:focus {
  border: 1px solid #9E9E9E;
}

#textarea>button {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10;
  margin: 16px;
  width: 120px;
  height: 40px;
  background-color: #EEEEEE;
  border: 1px solid #EEEEEE;
  border-radius: 8px;
  outline: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#textarea>button:hover {
  cursor: pointer;
}

#textarea>button:active {
  background-color: #E0E0E0;
  border: 1px solid #E0E0E0;
  box-shadow: none;
  outline: 0;
}

#error {
  color: #B71C1C;
  display: None;
}

section {
  margin-bottom: 24px;
  width: 520px;
  padding-bottom: 24px;
  border-bottom: 1px solid #BDBDBD;
  overflow: hidden;
}

section>footer>p {
  font-size: 12px;
  color: #616161;
}

section>main {
  display: flex;
  justify-content: space-between;
  padding-bottom: 12px;
  height: 58px;
}


section>main>div {
  position: relative;
}

section>main>div:first-child {
  width: 210px;
  word-break: break-word;
  overflow: hidden;
}


section>main>div>div {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  border-radius: 32px;
  background-color: #EFF1F2;
  display: flex;
  align-items: center;
  justify-content: center;
}

section>main>div:first-child>p:first-child {
  margin-bottom: 8px;
}


#clips {
  margin-top: 32px
}

#controls {
  width: 520px;
}

#controls label {
  vertical-align: text-bottom;
}

#controls input,
#controls label {
  display: inline-block;
}

.loader {
  border: 3px solid white;
  border-top: 3px solid #9E9E9E;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
