html {
  box-sizing: border-box;
  min-width: 852px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1 {
  font-family: 'Frank Ruhl Libre', serif;
  color: #fff;
  font-size: 3em;
  line-height: 1.25em;
  font-weight: 400;
  text-align: center;
  padding-bottom: 16px;
}

h2 {
  font-family: 'Frank Ruhl Libre', serif;
  color: #333;
  font-size: 2em;
  font-weight: 400;
  line-height: 1.25em;
  padding-bottom: 16px;
}

h3 {
  font-family: 'Frank Ruhl Libre', serif;
  color: #333;
  font-size: 1.5em;
  font-weight: 400;
  line-height: 1.25em;
  padding-top: 8px;
  padding-bottom: 8px;
}

h4 {
  font-family: 'Assistant', sans-serif;
  color: #38EF7D;
  font-size: 1.25em;
  font-weight: 400;
  line-height: 1.25em;
  margin-bottom: 16px;
}

h5 {
  font-family: 'Assistant', sans-serif;
  color: #38EF7D;
  font-size: .75em;
  font-weight: 700;
  line-height: 1em;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 8px;
}

h6 {
  font-family: 'Assistant', sans-serif;
  font-weight: 700;
  font-size: .75em;
  line-height: 1em;
  color: #ddd;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 8px;
}

p {
  font-family: 'Assistant', sans-serif;
  color: #777777;
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 0px;
  margin-bottom: 16px;
}

a {
  font-family: 'Assistant', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
  font-size: 1em;
  line-height: 1.5em;
  padding-left: 0px;
}

button {
  background: #38EF7D;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 24px;
  border: 0px;
  height: 48px;
  width: 144px;
  text-align: center;
  position: relative;
  overflow: hidden;
}

button:hover {
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}

button p {
  color: white;
  font-family: 'Assistant', sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 48px;
  margin: 0;
  position: absolute;
  z-index: 2;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

button .btn-progress-bar {
  width: 0%;
  height: 100%;
  opacity: .2;
  background-color: black;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  -webkit-transition: width .1s;
  transition: width .1s;
}

.btn-enabled {
  background: #39ee7c;
}

.btn-enabled:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}

.btn-disabled {
  background: #C7D1E2;
}

.btn-disabled:hover {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
}

cta {
  background: #fff;
  height: 30px;
  padding: 9px 20px;
  border-radius: 20px;
  border: 0px;
  color: #11998E;
  font-family: 'Assistant', sans-serif;
  font-weight: 600;
  font-size: 12px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  text-transform: uppercase;
  vertical-align: middle;
}

cta:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}

header {
  box-sizing: border-box;
  display: flex;
  padding: 36px 24px 36px 24px;
  justify-content: space-between;
  align-items: center;
  background: #111;
  min-height: 34px;
  min-width: 1318px;
  flex-grow: 1;
}

header h4 {
  color: white;
  margin: 0px;
  font-weight: 400;
}

nav {
  display: flex;
  justify-content: space-between;
  height: 24px;
  width: 100%;
}

nav a {
  text-decoration: none;
  text-transform: none;
}

nav img {
  height: 24px;
}

.account-nav-container {
  align-items: center;
  display: flex;
  height: 32px;
}

.account-nav-container img {
  height: 32px;
  margin-right: 16px;
  width: 32px;
}

.account-nav-container p {
  color: #FFFFFF;
  font-family: 'Assistant', sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 16px;
  margin: 0px;
}

.body-container {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
}

.left-menu-column {
  background-color: #111111;
  display: flex;
  height: 100%;
  min-width: 96px;
}

.left-menu-item-selected {
  background-color: #222222;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 96px;
  width: 96px;
}

.left-menu-item-selected img {
  height: 32px;
  width: 32px;
}

.inner-body-wrapper {
  align-content: flex-start;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  flex-wrap: nowrap;
  max-width: 1366px;
  background-color: #222222;
}

.body-header-container {
  display: flex;
  flex: 1;
  justify-content: left;
  padding: 33px 0px 31px 32px;
  max-height: 96px;
  min-height: 96px;
}

.body-header-container h3 {
  color: #ffffff;
  font-family: 'Assistant', sans-serif;
  font-size: 24px;
  font-weight: 300;
  margin: 0px;
  padding: 0px;
}

.speakers-and-text-container {
  display: flex;
  flex-wrap: none;
  padding-left: 32px;
}

.speaker-selection-container {
  align-content: flex-start;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 0;
  /* max-height: 320px; */
  max-width: 356px;
  min-width: 356px;
  /* overflow: scroll; */
  padding: 2px;
}

.speaker-row {
  cursor: pointer;
  display: flex;
  min-width: 352px;
  max-height: 96px;
  margin: 0px;
  opacity: .5;
  padding: 16px;
  text-align: left;
}

.speaker-row h3 {
  color: #ffffff;
  font-family: 'Assistant', sans-serif;
  font-size: 16px;
  padding: 0px;
}

.speaker-row p {
  color: #999999;
  font-family: 'Assistant', sans-serif;
  font-size: 12px;
  line-height: 16px;
  margin: 0px;
  padding-bottom: 6px;
  padding-top: 2px;
}

.speaker-row span {
  font-family: 'Assistant', sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
}

.speaker-row a {
  color: #11998E;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  text-transform: none;
}

.speaker-row:hover {
  opacity: 1;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
}

.speaker-row-selected {
  opacity: 1;
}

.speaker-row-selected img {
  height: 65px;
  width: 65px;
  margin: 0px;
  border: 2px solid #38EF7D;
  border-radius: 128px;
  -webkit-border-radius: 128px;
  -moz-border-radius: 128px;
}

.speaker-avatar {
  height: 68px;
  width: 68px;
}

.avatar {
  height: 62px;
  margin: 2px;
  padding: 1px;
  width: 62px;
}

.speaker-details {
  padding-left: 6px;
}

.text-container {
  margin-left: 32px;
  flex-basis: 90%;
  min-width: 750px;
  max-width: 862px;
  min-height: 320px;
}

.text-editor-container {
  flex-basis: 90%;
  flex-grow: 1;
  position: relative;
}

.text-editor-container textarea {
  box-sizing: border-box;
  border: 1px solid #333333;
  border-radius: 4px;
  background-color: #222222;
  font-family: 'Assistant', sans-serif;
  font-weight: 300;
  font-size: 3em;
  color: #fff;
  height: 320px;
  margin: 1px;
  outline: none;
  padding: 10px 10px;
  width: 100%;
  resize: none;
}

.text-editor-container textarea::-webkit-input-placeholder {
  color: #999;
}

.text-editor-container textarea::-moz-placeholder {
  color: #666;
}

#character-counter {
  position: absolute;
  bottom: 20px;
  left: 24px;
  font-family: 'Assistant', sans-serif;
  font-size: 16px;
  color: #333333;
  margin: 0px;
}

.text-editor-footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 15px;
}

.text-editor-footer select {
  background: white;
  border: 0px;
  color: #777777;
  font-size: 16px;
  font-family: 'Assistant', sans-serif;
  margin: 0px 15px;
  text-align-last: right;
}

.right-column {
  /* min-width: 15px; */
  min-width: 66px;
  /* max-width: 24px; */
  flex-grow: 2;
}

.listen-and-style {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  width: 100%;
}

.text-editor-footer .switch {
  display: flex;
  align-items: center;
}

.text-editor-footer .switch label {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.text-editor-footer .switch input {
  display: none;
}

.text-editor-footer .switch p {
  margin: 0;
  margin-left: 1em;
}

/* The slider */
.text-editor-footer .switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #333333;
  -webkit-transition: .4s;
  transition: .4s;
}

.text-editor-footer .switch .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #fff;
  -webkit-transition: .4s;
  transition: .4s;
}

.text-editor-footer .switch input:checked+.slider {
  background-color: #38EF7D;
}

.text-editor-footer .switch input:focus+.slider {
  box-shadow: 0 0 1px #38EF7D;
}

.text-editor-footer .switch input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.text-editor-footer .switch .slider.round {
  border-radius: 34px;
}

.text-editor-footer .switch .slider.round:before {
  border-radius: 50%;
}

.text-editor-error p {
  color: #FF3366;
  text-align: left;
}

.text-editor-error a {
  color: #FF3366;
  text-transform: none;
}

/* Modal (Footer) */
.modal {
  display: block;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  bottom: 0;
  right: 0;
  height: 128px;
  min-width: 1326px;
  overflow: auto;
  /* Enable scroll if needed */
  background-color: #333333;
  /* Black w/ opacity */
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.6s;
  animation-name: slideIn;
  animation-duration: 0.6s
}

.modal-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  text-align: center;
  width: 100%;
  padding: 32px 64px;
}

.modal-item {
  display: flex;
  height: 100%;
  margin: 0px;
  text-align: left;
}

.modal-item audio {
  width: 280px;
}

.modal-item img {
  height: 64px;
  margin: 0px;
  padding: 0px;
  width: 64px;
}

.speaker-row-modal {
  display: flex;
  min-width: 154px;
  max-height: 96px;
  text-align: left;
}

.speaker-details-modal {
  padding-left: 16px;
  padding-top: 12px;
}

.speaker-details-modal h3 {
  padding: 0px;
  font-size: 16px;
  color: #222222;
}

.speaker-details-modal p {
  font-size: 12px;
  margin: 0px;
}

/* Audio Player */
.audio-player {
  align-items: center;
  width: 507px;
  text-align: center;
  display: flex;
  flex-flow: row;
  margin: 0px;
}

.audio-player .player-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px;
  width: 400px;
}

.audio-player .player-controls .scrubber {
  display: flex;
  flex-direction: row;
  height: 8px;
}

.player-controls small {
  color: #FFFFFF;
  font-family: 'Assistant', sans-serif;
  font-size: 12px;
  width: 56px;
}

.audio-player .player-controls span {
  display: flex;
  align-items: center;
}

.audio-player .player-controls progress {
  align-items: center;
  border-radius: 8px;
  width: 296px;
}

progress::-webkit-progress-bar {
  border-radius: 40px;
  background: grey;
}

progress::-moz-progress-bar {
  border-radius: 40px;
  background: grey;
}

.audio-player .player-controls progress::-webkit-progress-bar {
  background: #38EF7D;
  border-radius: 8px;
}

.audio-player .player-controls progress::-moz-progress-bar {
  background: #E8EDF7;
  border-radius: 8px;
}

.audio-player .player-controls progress[value] {
  -webkit-appearance: none;
  appearance: none;
  background: #E8EDF7;
  color: #38EF7D;
  height: 8px;
}

.audio-player .player-controls progress::-webkit-progress-value {
  background: #38EF7D;
  border-radius: 8px;
}

.audio-player .player-controls progress[value]::-webkit-progress-bar {
  background: #E8EDF7;
  border-radius: 8px;
}

.audio-player #play-button {
  background-image: url("/static/images/WS_play@2x.png");
  background-size: cover;
  width: 48px;
  height: 48px;
  margin: 0px;
}

.audio-player #play-button.pause {
  background-image: url("/static/images/WS_pause@2x.png");
}

.audio-player #mute-button {
  background-image: url("/static/images/WS_on@2x.png");
  background-size: cover;
  width: 48px;
  height: 48px;
  margin: 0px;
}

.audio-player #mute-button.muted {
  background-image: url("/static/images/WS_off@2x.png");
}

/* Close Button */
.close {
  font-family: 'Assistant', sans-serif;
  position: fixed;
  right: 16px;
  bottom: 96px;
  color: rgb(163, 163, 163);
  font-size: 24px;
  font-weight: 100;
}

.close:hover,
.close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

/* Add Animation To Modal */
@-webkit-keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0
  }

  to {
    bottom: 0;
    opacity: 1
  }
}

@keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0
  }

  to {
    bottom: 0;
    opacity: 1
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

@keyframes fadeIn {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}
